*, body {
	text-align: center;
	margin: 0 auto;
	}

textarea {
	width: 100px;
	height: 55px;
	}

td {
	padding: 5px 15px;
	}

.pressed {
	border: inset !important;
}

div.custom-radio {
	width: 29px;
	height: 24px;
	position: relative;
	display: inline-block;
	}

div.custom-radio input {
	position: absolute;
	}

div.custom-radio label {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 2px outset;
	}

	.correct {
		background: url('/img/glyphicons-halflings.png') 187px 2px #DFD;
		}

	.incorrect {
		background: url('/img/glyphicons-halflings.png') 163px 3px #FDD;
		}

	.didnt-answer {
		background: url('/img/glyphicons-halflings.png') 140px 66px #EEE;
		}
