!!! 5
%html
	%head
		%title Jeopardy Scorekeeper
		%link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
	%body
		%h1 Jeopardy Scorekeeper
		%script{:src => "//code.jquery.com/jquery-latest.js"}
		%script{:src => "js/bootstrap.min.js"}